<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/main_styles.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/">My Clothes</a>
            <a href="/">My Outfits</a>
            <a href="/">Statistics</a>
            <a href="/">Profile</a>
        </div>
    </header>
    
    <main>
    {{{body}}}
    </main>
</body>
</html>