<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/main_styles.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        wow a header
    </header>
    
    <p><a href="/">Homepage</a></p>
    <main>
    {{{body}}}
    </main>
    <footer>wow not a header</footer>
</body>
</html>