body{
    width: auto;
    font-family: "Courier New";
    padding: 1em;

    background-image: url("https://imgs.search.brave.com/kftuFWv3Xohq15R4roo7n2z7FxZSuFUYfaWnfzIfMxo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/cHVibGljZG9tYWlu/cGljdHVyZXMubmV0/L3BpY3R1cmVzLzMw/MDAwMC92ZWxrYS9n/cmFkaWVudC1iYWNr/Z3JvdW5kLTE1NTYz/ODM0MDRQWm0uanBn");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-family: "Helvetica";
}

h2{
    font-family: "Helvetica";
    font-style: italic;
}

p{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

form{
    text-align: center;
}

header{
    color: #b80659;
}

footer{
    text-align: right;
    color: #d813b7;
}