<h1>Calendar</h1>
<div class="error-message">{{error}}</div>

{{#if date}}
<p>Date: {{date}}</p>
{{/if}}

<form id="calendar-form" method="POST" action="/calendar">
  <label for="birthday">Time:</label>
  <input type="date" id="birthday" name="birthday">
  <input type="submit">
</form>