<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Change Password</title>
</head>

<h1 class="right">Change Password</h1>


<p>First Verify It's You</p> 

        <form id="cpassword" class="cpassword" method="POST" action="/profile/password">

            {{#if passwordE}}
            <p class="error">{{error}}</p>
            {{/if}}

            <label for="current_password">Current Password</label><br />
            <input type="password" name="password" id="current_password" placeholder="Enter current password">
            <button type="submit">submit</button>
        </form>



