<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Change Password</title>
</head>
<body>
    <article>
        <form action="/profile/password2" method="POST">
        <div id="change_password" class="myform">
            <h1>Change Password</h1>
            <p>Now you can change password.</p>
            <hr>


            {{#if passwordE}}
                <p class = "error">{{error}}</p>
            {{/if}}
            <label for="psw">Password: must have at least 8 characters</label><br/>
            <input type="password" placeholder="Enter Password" name="password" required minlength="8">
            <br/>
            <label for="psw-repeat">Confirm Password</label><br/>
            <input type="password" placeholder="Confirm Password" name="password2" required minlength="8">
            
            <div>
            <button type="submit">Submit</button>
            </div>
        </div>
        </form>
    </article>
</body>
</html>