<h1 class="right">{{title}}</h1>

<div class="profile">

    <article>
        <form action="/profile/password2" method="POST" id="password_form">
            <div id="change_password" class="myform">

                <p>Now you can change password.</p>
                <hr>


                {{#if passwordE}}
                <p class="error">{{error}}</p>
                {{/if}}
                <p class="error" id="error"></p>

                <label for="psw">Password: must have at least 8 characters</label><br />
                <input type="password" placeholder="Enter Password" id="password1" name="password">
                <br />
                <label for="psw-repeat">Confirm Password</label><br />
                <input type="password" placeholder="Confirm Password" id="password2" name="password2">

                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </article>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src='/public/scripts/password.js'></script>