<h1 class="right">Digital Closet</h1>
<article class="main">
    <p class="left">
        Digital Closet is a web application that makes organizing a user's wardrobe easy and efficient!
    </p>
    {{#each outfits}}
        <div class="outfit-card">
            {{!-- The image carousel here --}}
            <div class="outfit-card-details">
                <h3 class="outfit-title">{{outfitName}}</h3>
                <div class="outfit-card-creator-likes">
                    <p>{{creator}}</p>
                    <p>{{likes}} likes</p>
                </div>
                <a class="card-btn">View</a>
                <a class="card-btn">Like</a>
                <a class="card-btn">Save</a>
            </div>
        </div>
    {{/each}}
</article>