<h1 class="right">Digital Closet</h1>
<article class="main">
    <p class="left">
        Digital Closet is a web application that makes organizing a user's wardrobe easy and efficient!
    </p>

</article>