<h1 class="right">{{title}}</h1>
<article class="main">
    <dl class="left">
        <dt>Username</dt>
        <dd>{{username}}</dd>
        <dt>Bio</dt>
        <dd>{{bio}}</dd>
        <dt>Stores</dt>
        <dd>
            <ul>{{bio}}</ul>
        </dd>
    </dl>

</article>