
/* NEW CLOTHING ITEM FORM */
input[type=text], select {
  width: 250px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset, legend {
  border: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0 auto;
  display: table;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-flex;
  border: 1px solid #333;
  border-radius: 30px;
  color: #333;
  padding: 4px 10px;
  margin: 0 4px;
}

i {
  color: #333;
  font-size: 16px;
}

.input-label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.chip-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 0;
}

.form-div {
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #00000015;
}

.add-btn {
  display: inline-block;
  padding: 6px 30px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 0;
}

.error-input {
  border: 1px solid red !important;
}

#submit-btn {
  padding: 6px 30px;
  border-radius: 5px;
  background-color: #31a2db;
  color: white;
  border: none;
  font-size: 14px;
}

#placeholder-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* DISPLAY CLOTHING ITEMS */
.clothing-item-card {
  display: inline-block;
  margin: 20px;
  width: 250px;
  border-radius: 10px;
  background-color: #00000015;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.clothing-item-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clothing-item-image {
  height: 250px;
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.clothing-item-title {
  font-weight: bold;
  margin: 0;
}

.clothing-item-brand {
  color: rgb(50, 95, 140);
  font-weight: bold;
  margin: 0;
}

.clothing-item-type {
  color: rgb(0, 42, 84);
  font-weight: bold;
  margin: 0;
}

.clothing-item-details {
  padding: 10px;
}

.clothing-item-type {
  text-transform: capitalize;
}