/**for images**/

img {
    border-radius: 8px;
    padding: 5px;
    height: 400px;
    width:auto;
}

btn {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 14px;
    text-decoration: none;
}
/**https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line**/
dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
    display: block;
    content: '';
}

dl.inline dt {
    display: inline-block;
    min-width: 100px;
}

.error{
    color:red;
}

.outfit-card {
    display: inline-block;
    /* margin: 20px; */
    width: 350px;
    border-radius: 10px;
    background-color: #00000015;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    
.outfit-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.outfit-card-image {
    height: 350px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.form-div {
    display: inline-block;
    vertical-align: top;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #00000015;
}