/**for images**/

img {
    border-radius: 8px;
    padding: 5px;
    height: 400px;
    width:auto;
}

btn {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 14px;
    text-decoration: none;
}
/**https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line**/
/* dl.inline dd {
    display: inline;
    margin: 0;
}

dl.inline dd:after {
    display: block;
    content: '';
}

dl.inline dt {
    display: inline-block;
    min-width: 100px;
} */

dl {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 0;
}

dt {
    width: 100px;
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

dl li {
    list-style: none;
    display: inline-flex;
    border: 1px solid #333;
    border-radius: 30px;
    color: #333;
    padding: 4px 10px;
    /* margin: 0 4px; */
}

dl {
    margin: 0 !important;
}

dl ul {
    margin: 0;
    padding: 0;
}

.likes-saves-div p, likes-saves-div a{
    display: inline-block;
}

.icon-btn {
    float: right;
    padding: 0 3px;
}

.error{
    color:red;
}

.outfit-card {
    display: inline-block;
    /* margin: 20px; */
    width: 350px;
    border-radius: 10px;
    background-color: #00000015;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    
.outfit-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.outfit-card-image {
    height: 350px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.form-div {
    display: inline-block;
    vertical-align: top;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #00000015;
}