.outfit-card {
  display: inline-block;
  margin: 20px;
  width: 250px;
  border-radius: 10px;
  background-color: #00000015;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.outfit-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.outfit-card-details {
  padding: 10px;
}