li.stats-sect{
    text-align: left;
}
figcaption.stats-caption {
    margin-top: 35px;
    margin-left: -30px;
    font-weight: 700;
    font-size: 19px;
}

li.stats-list{
    margin-left: -30px;
    font-size: 16px;
}

p.id_tag{
    font-size: small;
    color: rgb(140, 140, 140);
}

a.refresh {
    margin-left: 10px;
    vertical-align: -30px;
}

h1.stats-title {
    line-height: 75px;
}