<h1>Add New Clothing Item</h1>
<div class="error-message">{{error}}</div>
<form id="new-clothing-form" method="POST" action="/clothes/new" enctype="multipart/form-data">
    <div id="img-div" class="form-div">
        <img id="placeholder-img" alt="Clothing Item" src="/public/images/placeholder.jpg"><br>
        <label class="input-label" for="img-btn">Add Image *</label>
        <input id="img-btn" name="img" type="file" accept="image/png, image/jpeg" required>
    </div>
    <div class="form-div">
        <div id="name-div">
            <label class="input-label" for="name-input">Clothing Name *</label>
            <input id="name-input" name="name" type="text" required>
        </div>
        <br>
        <div id="type-div">
            <label class="input-label" for="type-input">Type *</label>
            <select id="type-input" name="type" required>
                <option value="" disabled selected>- Select a Type -</option>
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="dress">Dress</option>
                <option value="shoes">Shoes</option>
                <option value="accessory">Accessory</option>
                <option value="outerwear">Outerwear</option>
                <option value="socks">Socks</option>
            </select>
        </div>
        <br>
        <div id="size-div">
            <label class="input-label" for="size-input">Size</label>
            <input id="size-input" name="size" type="text">
        </div>
        <br>
        <div id="colors-patterns-div">
            <label class="input-label" for="colors-patterns-input">Colors/Patterns</label>
            <input id="colors-patterns-input" type="text">
            <button id="colors-patterns-btn" class="add-btn" type="button">Add</button><br>
            <ul id="colors-patterns-list"></ul>
        </div>
        <br>
        <div>
            <label class="input-label">Seasons</label>
            <input id="winter-input" type="checkbox" name="seasons[]" value="winter">
            <label for="winter-input">Winter</label>
            <input id="spring-input" type="checkbox" name="seasons[]" value="spring">
            <label for="spring-input">Spring</label>
            <input id="summer-input" type="checkbox" name="seasons[]" value="summer">
            <label for="summer-input">Summer</label>
            <input id="fall-input" type="checkbox" name="seasons[]" value="fall">
            <label for="fall-input">Fall</label>
        </div>
        <br>
        <div id="styles-div">
            <label class="input-label" for="styles-input">Styles</label>
            <input id="styles-input" type="text">
            <button id="styles-btn" class="add-btn" type="button">Add</button><br>
            <ul id="styles-list"></ul>
        </div>
        <br>
        <div id="brand-div">
            <label class="input-label" for="brand-input">Brand</label>
            <input class="capitalize" id="brand-input" name="brand" type="text">
        </div>
        <br>
    </div><br>
    <button id="submit-btn" type="submit">Save</button>
</form>