
<body>
    <article>
        <form action="/account/signup" method="POST" class="user-sign-up">
        <div id="signup-form" class="myform">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            {{#if dbErr}}
                <p class = "error" id="server-error">{{error}}</p>
            {{/if}}
            {{#if usernameErr}}
                <p class = "error">{{error}}</p>
            {{/if}}
            <p class = "username-err"></p>
            <label for="username" class = "username-label">Username</label>
            <input id = "username" type="text" class="username-input"placeholder="Enter username (must have at least 2 characters)" value="{{username}}" name="username" required minlength="2">
            
            {{#if pswErr}}
                <p class = "error">{{error}}</p>
            {{/if}}
            <p class = "psw-err"></p>
            <label for="psw" class = "psw-label">Password</label>
            <input id = "psw" type="password" class="psw-input" placeholder="Enter Password (must have at least 8 characters)" name="psw" required minlength="8">
            
            <label for="psw-repeat" class="psw-confirm-label">Confirm Password</label>
            <input id = "psw-repeat" type="password" class="psw-confirm" placeholder="Confirm Password" name="pswRepeat" required minlength="8">
            
            <div>
            <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
        </form>
    </article>
     <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
    <script src='/public/scripts/signup.js'></script>
</body>
